<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>ServletPractise</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>FirstServlet</display-name>
    	<servlet-name>FirstServlet</servlet-name>
    	<servlet-class>com.demo.ServletPractise.FirstServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>SecondServlet</display-name>
    	<servlet-name>SecondServlet</servlet-name>
    	<servlet-class>com.demo.ServletPractise.SecondServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>OwnerName</display-name>
    	<servlet-name>OwnerName</servlet-name>
    	<servlet-class>com.demo.ServletPractise.OwnerName</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>SelectOwnerName</display-name>
    	<servlet-name>SelectOwnerName</servlet-name>
    	<servlet-class>com.demo.ServletPractise.SelectOwnerName</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Login</display-name>
    	<servlet-name>Login</servlet-name>
    	<servlet-class>com.demo.ServletPractise.Login</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>LoginVerify</display-name>
    	<servlet-name>LoginVerify</servlet-name>
    	<servlet-class>com.demo.ServletPractise.LoginVerify</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Logout</display-name>
    	<servlet-name>Logout</servlet-name>
    	<servlet-class>com.demo.ServletPractise.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>FirstServlet</servlet-name>
    	<url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SecondServlet</servlet-name>
    	<url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>OwnerName</servlet-name>
    	<url-pattern>/OwnerName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SelectOwnerName</servlet-name>
    	<url-pattern>/SelectOwnerName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Login</servlet-name>
    	<url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LoginVerify</servlet-name>
    	<url-pattern>/LoginVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Logout</servlet-name>
    	<url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
